# Node modules
node_modules/

# Build output
dist/
build/

# Dependency directories
/.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
coverage/
*.log
*.tgz
.cache/
.parcel-cache/
.eslintcache

# React Native
.expo/
